<form class="searchForm" [noValidate]="true">
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input class="searchInput" type="text" matInput [formControl]="loginFormControl" placeholder="Ex. John">
            <mat-error *ngIf="!loginFormControl.hasError('required')">
                Please enter login
            </mat-error>
            <mat-error *ngIf="loginFormControl.hasError('required')">
                Login is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button mat-flat-button class="searchBtn" color="primary" type="button" (click)="makeRequest()"
            [disabled]="!loginFormControl.value">
            Search
        </button>
    </div>

</form>