/* You can add global styles to this file, and also import other style files */

body {
    background: #303030;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #454545 inset !important;
    -webkit-text-fill-color: #fff !important;
}
